/* My styles */

.smaller-image-size {
  max-width: 100px;
  height: auto;
}
.medium-image-size {
  max-width: 400px;
  height: auto;
}
.vertical-align {
  vertical-align: middle;
}
body {
  font-family: 'Roboto', sans-serif;
}
nav {
  font-size: 2rem;
}
